<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
<title>Restaurant Unique</title>
<meta http-equiv="Content-Type" context="text/html" charset="UTF-8">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
</head>

<div th:fragment="navbar"></div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand"><h4>Welcome to the Restaurant Unique</h4></a>
	<a class="btn btn-secondary btn-sm" role="button" aria-pressed="true" th:href="@{/restaurant}" type="button">Main Page</a>
</nav>


<body>
	<div>
		<h4>About us: </h4>
		<a>Restaurant: </a><span th:text="${restaurant.restaurantName}"></span>
	</div>

	<div>
		<a>Owner: </a>
		<span th:text="${restaurant.owner}"></span>
	</div>
	
	<div>
		<a>Description: </a>
		<span th:text="${restaurant.description}"></span>
	</div>
	
		<div>
		<a>Contact: </a>
		<span th:text="${restaurant.telephone}"></span>
		<span th:text="${restaurant.email}"></span>
	</div>
</body>

<footer class="footer footer-light bg-light">
	<div style="text-align: right">@Mariana Boueres, 2019</div>
</footer>