<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Weekly Restaurant</title>
<meta http-equiv="Content-Type" context="text/html" charset="UTF-8">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<div class="col-md-4">
			<h1>Restaurant Unique</h1>
		</div>
	</div>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Week's menu</th>
			</tr>
		</thead>
		<tbody>
		<tr th:each="weeklyInfo: ${weeklyInfos}">
		<td><span th:text="${weeklyInfo.date}"></span></td>
		<td><span th:text="${weeklyInfo.menu}"></span></td>
		</tr>
		
		</tbody>
	</table>
	</body>
	<footer>
		<p>Made by: Mariana Boueres, 2019</p>
		
	</footer>
